.btn {
    width: 100%;
    height: 3rem;

    padding: 0rem 1.3956rem 0rem 1.3956rem;
    border-radius: 0.25rem;
    border: 0.0762rem solid transparent;

    background-color: var(--color-primary);

    font-weight: 500;
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--color-white);
    line-height: 1.6875rem;

    &:hover {
        background-color: var(--color-primary-focus);
    }

    &.two {
        background-color: var(--color-grey-1);
    }
}

.link{
    width: 100%;
}

.btn1 {
    width: 4.1875rem;
    height: 2.5rem;
    border: 0.0625rem solid transparent;
    border-radius: 0.25rem;
    padding: 0rem 1.015rem 0rem 1.015rem;

    background-color: var(--color-grey-3);

    font-weight: 600;
    font-size: 0.75rem;
    font-family: var(--font-family);
    color: var(--color-grey-0);
    text-align: center;
}

.btn_icon{
    width: 2rem;
    height: 2rem;

    border: none;
    border-radius:0.25rem ;

    background-color: var(--color-grey-3);
    color: var(--color-white);
}

.btn_none{
    background-color: transparent;
    border: none;
    color: var(--color-white);
    &.delete{
        color: var(--color-grey-1);

        font-size: 1rem;
        font-weight: 600;
        line-height: 26px;
    }
}