.inp {
    width: 20.6206rem;
    height: 3rem;

    padding: 0rem 1.015rem 0rem 1.015rem;
    border-radius: 0.25rem;
    border: 0.0762rem solid var(--color-grey-2);

    background-color: var(--color-grey-2);
    color: var(--color-grey-1);

    font-weight: 400;
    font-size: 1rem;
    font-family: var(--font-family);
    resize: none;

    &.password {
        position: relative;
    }

    &:focus {
        border: 0.0762rem solid var(--color-grey-0);
        color: var(--color-grey-0)
    }

    &.select {
        width: 100%;
        @media (max-width: 520px) {
            min-width: 18rem;
        }
    }

    @media (max-width: 520px) {
        max-width: 15.875rem;
    }
}

.form_conteiner {
    width: 23.125rem;
    padding: 2.625rem 1.375rem 2.625rem 1.375rem;
    border-radius: 0.25rem;
    background-color: var(--color-grey-3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        margin-top: 0.625rem;
        display: flex;
        flex-direction: column;
        gap: 0.9375rem;

        div {
            display: flex;
            flex-direction: column;
        }

        @media (max-width: 520px) {
            padding: 0rem 0.625rem 0rem 0.625rem;
        }
    }

    @media (max-width: 520px) {
        width: 16.875rem;
        margin-bottom: 1rem;
    }
}

.password_conteiner {
    position: relative;

    button {
        position: absolute;
        color: var(--color-grey-1);
        background-color: transparent;
        border: none;
        right: 0.625rem;
        top: 1.125rem;
    }
}