.title{
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: var(--color-grey-0);

    &.two{
        font-size: 0.75rem;
        font-weight: 400;
        color: var(--color-grey-0);
    }
    &.three{
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 600;
    }
    &.four{
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: var(--color-white);
    }
}
.headline{
    font-size: 0.75rem;
    color: var(--color-grey-1);
    line-height: 1.375rem;
    font-weight: 400;

    &.bold{
        font-weight: 600;
        line-height: 1.125rem;
    }
}
.paragraph{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--color-white);
}

.error{
    font-size: 0.75rem;
    color: var(--color-negative);
    line-height: 1.375rem;
    font-weight: 400; 
    margin-top: 0.3125rem;
}